# Ignore everything in these directories
data/
old code/
wandb/
__pycache__/
logs/
outputs/

# Ignore all files in 'outputs' subdirectories, but allow .gitkeep files
outputs/*/*
!outputs/confusion_matrices/.gitkeep
!outputs/graphs/.gitkeep
!outputs/point_clouds/.gitkeep
!outputs/trained_models/.gitkeep

# Ignore specific file types and individual files
*.pyc
further_testing.py
further_training.py
config.yaml
