# Keep the directory tree structure of outputs
outputs/
├── confusion_matrices/
│   └── .gitkeep
├── graphs/
│   └── .gitkeep
├── point_clouds/
│   └── .gitkeep
└── trained_models/
    └── .gitkeep

# Ignore everything else below
data/
old code/
wandb/
__pycache__/
*.pyc
further_testing.py
further_training.py
config.yaml